.form {
    padding: 20px 80px;
} 

.input__form {
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding-top:50px ;
    gap: 40px;
} 
.input__reg{
    font-size: 50px;
}
.input__desc {
    height: 30px;
    width: 400px;
}

.form__btn {
    height: 30px;
    width: 400px;
    margin-bottom: 100px;
}